<section class="carousel-item active">
  <div class="login_title">
    <h5 class="first_title">
      덕성을 담다
    </h5>
    <h3>
      덕담
    </h3>
  </div>
  <div class="card login">
    <div class="card-block">
      <h3 class="card-title login">&emsp;&emsp;&emsp;&emsp;&emsp; 로그인</h3>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div align="center">
        <%= f.label '이메일' %><br />
        <%= f.email_field :email, autofocus: true %>
        <br>
        <%= f.label '비밀번호' %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      
    
      <% if devise_mapping.rememberable? -%>
        <div class="card-block">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
    
      <button class="btn btn-warning sign_in">로그인</button>
    <% end %>
    <div class="login_group">
            <div class="login_checkbox">
              <input type="checkbox">로그인 상태 유지
            </div><br>
            <div class="login_finding">
              <a href="#">아이디/비밀번호 찾기</a>
            </div>
          </div>
          <hr>
          <div class="login_signup" align="center">
            아직 회원이 아니세요?
            <a href="/users/sign_up">회원가입</a>
    </div>
    </div>
    </div>
  </div>
</section>
